<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if ThisNote %}
        <title>Beaker - {{ ThisNote.customer }}</title>
    {% else %}
        <title>Beaker</title>
    {%endif%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>   
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />   
    <script src="{{url_for('static', filename='javascript.js')}}"></script>
    {{ ckeditor.load() }}
    <script>
        $( function() { 
            var availableTags = [ 
                {% for aTitle in NoteTitles %} 
                    "{{aTitle}}", 
                {% endfor %} 
            ]; 
            $( "#search" ).autocomplete({ 
            source: availableTags 
            }); 
        } ); 
    </script>
</head>
<body>                                                                          
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="leftcolumn">
            {% block content %}

            {% endblock %}
        </div>
        <div class="rightcolumn">
            <div class="card">
                {% if User is defined and User %}
                    <h2>Logged in as {{ User }}</h2>
                {% else %}
                    <h2 style="color:red">Not Logged In</h2>
                {% endif %}
                <div class="search-container">
                    <form class="search" action="{{ url_for('index') }}" method="get">
                        <input type="search" name="search" id="search" placeholder="Search here..." required>
                        <button type="submit" id="search-submit">Search</button>
                      </form>   
                </div>
            </div>
            <div class="card">
              <h3>Recent Notes</h3>
              {% for aTitle in NoteList[:3] %}
                <button class="collapsible" title="Last Updated: {{ aTitle.LastUpdated }}"><a href="/note/{{ aTitle.customer}}">{{ aTitle.customer }}</a><br />{{ aTitle.fsr }} | {{ aTitle.Status }}</button>
                <div id="content">
                    {{ aTitle.Note }}
                </div>
                <br />
                {% endfor %}
            </div>
            <div class="card">
              <h3>Follow Me</h3>
              <p>Some text..</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('settings') }}"> Settings</a> | <a href="{{ url_for('new_note') }}"> New Note</a>
    </div>
</body>
</html>