* {
    box-sizing: border-box;
  }
  
  body {
    padding: 20px;
    background: #f1f1f1;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 85%;
  }

  /* Right column */
  .rightcolumn {
    float: left;
    width: 15%;
    padding-left: 20px;
  }

  .SearchResults, 
  .allnotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(32, 135, 238);
  }

  .anote {
    background-color: #adb2f3;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    box-shadow: 5px 10px #888888;
    border: 1px solid;
    width: 250px;
    height: 100px;
    border-radius: 10px;
  }

  .anote h2{
    font-size: 25px;
  }
  

  
  .collapsible {
    background-color: #bebdbd;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }

 .content {
    overflow: auto;
    height: 440px;
    display: "none";
    transition: max-height 0.2s ease-out;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .card search-container {
    float: right;
  }
 
  .search {
    width: 100%;
    height: 40px;
    background: #2e2e2e;
    background: rgba(0,0,0,.2);
    border-radius:  3px;
    border: 1px solid #2e2e2e;
    
    input {
      width: 75%;
      padding: 10px 5px;
      float: left;
      color: #2e2e2e;
      border: 0;
      background: transparent;
      border-radius: 3px 0 0 3px;
      &:focus {
        outline: 0;
        background:transparent;
      }
    }
    
    button {
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 20%;
      color: #0e0e0e;
      background: transparent;
      border-left: 1px solid #fff;
      border-radius: 0 3px 3px 0;
      &:hover {
        background: #555;
        color:#ffffff;
      }
      &:active {
        box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
      }
      &:focus {
        outline: 0;
      }
    }  
  }




  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }